
.carousel-section{
    background-color: rgb(177, 159, 159);
    height: 100vh;
    width: 100%;
}

.carousel{
    overflow: hidden;
    max-width: 60vw;
    position: relative;
}

.carousel .carousel-item, .carousel .carousel-item-hidden{
    display:none;
}

.carousel .carousel-item img{
    max-width: 30vw;
    width:100%;
    height: 60vh;
    margin-top: 10%;
    transform: translateY(10%) translateX(50%) ; 
    margin-left:40%;
}

.carousel .carousel-item-visible{
    display: block;
}

/* this adjusts the next and previous buttons */
.carousel .carousel-actions{
    display: flex;
    width: 21vw;
    justify-content: space-between;
    position: absolute;
    top: 55%;
    margin-left:65%;
    transform: translateY(55%), translateX(60%) ; /*places the buttons more centrally */
}

.carousel .carousel-actions i{
    font-size: 2rem ;
    cursor: pointer;
}


.carousel .carousel-actions button{
    height: 3rem;
    width: 2.5rem;
}